.rmdp-week-day {
  color: #704ecc !important;
}

.rmdp-day.rmdp-selected {
  background-color: #5b2b82 !important;
  color: #fff !important;
  border-radius: 9999px !important;
}

.rmdp-range {
  background-color: #5a2d76 !important;
  border-radius: 30px !important;
}

.rmdp-range-hover {
  background-color: #f7eaff !important;
  border-radius: 30px !important;
  color: #000 !important;
}
.rmdp-day.rmdp-today span {
  background-color: #704ecc !important;
}

.rmdp-day span:hover {
  background-color: #7e5697 !important;
  border-radius: 30px !important;
}

.rmdp-day.rmdp-range-start,
.rmdp-day.rmdp-range-end {
  background-color: #5b2b82 !important;
  color: #fff !important;
  border-radius: 9999px !important;
}

.rmdp-day:not(.rmdp-disabled):hover {
  background-color: rgba(91, 43, 130, 0.2);
  border-radius: 9999px;
  color: #000;
}

.rmdp-header {
  font-weight: 600;
  font-size: 1.2rem;
}
.rmdp-day.rmdp-selected span:not(.highlight) {
  background: none !important;
}

.rmdp-arrow-container {
  padding: 0.5rem;
  border-radius: 9999px;
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  width: 30px !important;
  height: 30px !important;
  justify-content: center;
}

.rmdp-arrow-container:hover {
  background-color: rgba(91, 43, 130, 0.1);
}

.rmdp-arrow {
  border-color: #704ecc !important;
}

.rmdp-arrow-container.rmdp-left {
}

.rmdp-arrow-container.rmdp-right {
  margin-left: 5px;
}

.rmdp-arrow-container:hover .rmdp-arrow {
  border-color: #fff !important;
}

.rmdp-arrow-container.rmdp-left:hover {
  background-color: #7e5697 !important;
  cursor: pointer;
}

.rmdp-arrow-container.rmdp-right:hover {
  background-color: #7e5697 !important;
  cursor: pointer;
}

.rmdp-arrow {
  width: 5px !important;
  height: 5px !important;
  cursor: pointer;
  margin-top: 0 !important;
  border-width: 2px 2px 0 0;
}

.rmdp-right i {
  margin-right: 0 !important;
}

.rmdp-left i {
  margin-left: 0 !important;
}

.rmdp-wrapper:focus {
  outline: none !important;
}

.rmdp-analog-clock {
  background-color: #ec9efa !important;
  border: none !important;
}

.rmdp-analog-clock .dial-lines:nth-of-type(5n) {
  background-color: #8e24aa !important;
}

.rmdp-analog-clock .dial-lines {
  background-color: #ba68c8 !important;
}

.rmdp-analog-clock .rmdp-second {
  background-color: #8e24aa !important;
}

.rmdp-arrow-container:hover {
  background-color: #7e5697 !important;
}

.rmdp-second {
  animation: rotate-sec 60s linear infinite;
}

@keyframes rotate-sec {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
