ASR_API_KEY=replace-with-a-long-random-secret
ASR_HOST=127.0.0.1
ASR_PORT=8000
ASR_DATA_DIR=./data
ASR_MAX_FILE_MB=50
ASR_MAX_AUDIO_SECONDS=7200
ASR_MAX_PENDING_JOBS=20
ASR_RETENTION_DAYS=7
BUZZASR_MODEL_DIR=./models/buzzasr/ctranslate2
